body{
	background-color: red;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
}

#unoTitle{
	color: gold;
	font-size: 10em;
	text-align: center;
	font-weight: bolder;
	-webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    transform: rotate(-10deg);
    margin-top: 50px;
}