.button{
	width: 300px;
	background-color: gold;
	border-radius: 100px;
	padding: 20px;
	font-size: 3em;
	color: white;
	font-weight: bolder;
	text-align: center;
	border: 2px solid black;
	-webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    transition: all .2s ease-in-out;
    cursor: pointer;
    letter-spacing: -1px;
}

.button:hover{
	transform: scale(1.1);
}

.homeButtonsContainer{
	display: grid;
	grid-template-columns: 50% 50%;
	margin-bottom: 30px;
	margin-top: 30px;
}

.centered{
	margin-right: auto;
	margin-left: auto;
}

.leaveGameButton{
	position: fixed;
	top: 0px;
    right: 0px;
}